<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Star Social</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="{% static 'simplesocial/css/master.css'% }"> -->

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation" id="navbar"> 
    <div class="container">
      <a class="navbar-brand mynav" href="{% url 'home' %}">Star Social</a>
      <ul class="nav navbar-nav navbar-right">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
          <!-- <li><a href="#">Post</a></li>
          <li><a href="#">Group</a></li>
          <li><a href="#">Create Group</a></li>
          <li><a href="{% url 'account:logout' %}">Log Out</a></li>  -->
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Posts:create' %}">Post <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Group:all' %}">Group <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Group:CreateGroup' %}">Create Group</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:logout' %}">Log Out</a>
          </li>

        {% else %}
          <!-- <li><a href="#">Group</a></li>
          <li><a href="{% url 'account:login' %}">Log Out</a></li>
          <li><a href="{% url 'account:signup' %}">Sign Up</a></li> -->
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'Group:all' %}">Group <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:login' %}">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account:signup' %}">Sign Up</a>
          </li>

        {% endif %}
      </ul>
    </div>
  </nav>
 <div class="container mycontent">
  {% block content %}
  {% endblock %}
  
 </div>
</body>
</html>